In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [2]:
#Creating a DF to display the total players
total_players_df = pd.DataFrame()

#Counting players and adding to DF
total_players_df['Total Players'] = pd.Series([purchase_data['SN'].nunique()])

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
#Creating DF to store and display summary
purchase_summary_df = pd.DataFrame()

#count unique items & add to summary DF
purchase_summary_df['Number of Unique Items'] = pd.Series([purchase_data['Item Name'].nunique()])
#calculate mean price & add to summary DF
purchase_summary_df['Average Price'] = pd.Series([purchase_data['Price'].mean()])
#count purchase ID's & add to summary DF
purchase_summary_df['Number of Purchases'] = pd.Series([purchase_data['Purchase ID'].count()])
#sum prices & add to summary DF
purchase_summary_df['Total Revenue'] = pd.Series([purchase_data['Price'].sum()])

#print out summary DF with proper styling on price and revenue
purchase_summary_df.style.format({'Average Price':'${:,.2f}', 'Total Revenue':'${:,.2f}'})

## Gender Demographics

In [4]:
#Creating DF to store and display Gender Demographics
gender_df = pd.DataFrame()

#Using loc to pull DF with specific answer to gender question
male = purchase_data.loc[purchase_data['Gender']=='Male']
female = purchase_data.loc[purchase_data['Gender']=='Female']
other = purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed']

#inserting gender counts into DF
gender_df.insert(0,'Total Count',[male['SN'].nunique(),female['SN'].nunique(),other['SN'].nunique()])
#adding index for gender DF
gender_df.index = ['Male','Female','Other/Non-Disclosed']
#adding % by dividing cells of gender df by total players df
gender_df.insert(1,'Percentage of Players',gender_df['Total Count']/total_players_df.iloc[0,0])

#Formatting and print
gender_df.style.format({'Percentage of Players':'{:,.2%}'})


## Purchasing Analysis (Gender)

In [5]:
#Create DF to hold purchase analysis for Gender
#Groupby for less lift
purchaseGenderDF = pd.DataFrame({
    #Purchase count = grouping by gender, counting purchases
    "Purchase Count": purchase_data.groupby(['Gender'])['Purchase ID'].count(),
    #AVG purchase price = grouping by gender then average prices
    "Average Purchase Price": purchase_data.groupby(['Gender'])['Price'].mean(),
    #total purchase = grouping by gender then sum of prices
    "Total Purchase Value": purchase_data.groupby(['Gender'])['Price'].sum(),
    #avg purchase per person group by gender then sum of prices divided by grouping of Gender and counting unique SN (screen name?)
    "Avg Total Purchase per Person": purchase_data.groupby(['Gender'])['Price'].sum()/purchase_data.groupby(['Gender'])['SN'].nunique()
})

#Format and print
purchaseGenderDF.style.format({'Average Purchase Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:,.2f}'})

## Age Demographics

In [6]:
#Bins info
bins_age = [0,9,14,19,24,29,34,39,100]
bins_age_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

#add bins to dataframe
purchase_data['Age Group'] = pd.cut(purchase_data["Age"],bins=bins_age,labels=bins_age_labels)

#create dataframe for summary grouping by the bins and counting unique screen names
age_demographics = pd.DataFrame({
    'Total Count': purchase_data.groupby(['Age Group'])['SN'].nunique()
})
age_demographics.insert(1,'Percentage of Players',age_demographics['Total Count']/total_players_df.iloc[0,0])

#Formatting and print
age_demographics.style.format({'Percentage of Players':'{:,.2%}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Create DF to hold purchase analysis for Age
purchaseAgeDF = pd.DataFrame({
    #Purchase count = grouping by Age, counting purchases
    "Purchase Count": purchase_data.groupby(['Age Group'])['Purchase ID'].count(),
    #AVG purchase price = grouping by Age then average prices
    "Average Purchase Price": purchase_data.groupby(['Age Group'])['Price'].mean(),
    #total purchase = grouping by Age then sum of prices
    "Total Purchase Value": purchase_data.groupby(['Age Group'])['Price'].sum(),
    #avg purchase per person group by Age then sum of prices divided by grouping of Age and counting unique screen name
    "Avg Total Purchase per Person": purchase_data.groupby(['Age Group'])['Price'].sum()/purchase_data.groupby(['Age Group'])['SN'].nunique()
})

#Format and print
purchaseAgeDF.style.format({'Average Purchase Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:,.2f}'})

## Top Spenders

In [8]:
topSpenderDF = pd.DataFrame({
    #Purchase count = grouping by SN, counting purchases
    "Purchase Count": purchase_data.groupby(['SN'])['Purchase ID'].count(),
    #AVG purchase price = grouping by SN then average prices
    "Average Purchase Price": purchase_data.groupby(['SN'])['Price'].mean(),
    #total purchase = grouping by SN then sum of prices
    "Total Purchase Value": purchase_data.groupby(['SN'])['Price'].sum(),
})


# sort and pull top 5 by total purchase value then Format and print
topSpenderDF.nlargest(5, 'Total Purchase Value').style.format({'Average Purchase Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}'})

## Most Popular Items

In [9]:
itemsDF = pd.DataFrame({
    #Purchase count = grouping by Item columns, counting purchases
    "Purchase Count": purchase_data.groupby(['Item ID', 'Item Name'])['Purchase ID'].count(),
    #AVG purchase price = grouping by Item columns then average prices
    "Item Price": purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean(),
    #total purchase = grouping by Item columns then sum of prices
    "Total Purchase Value": purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum(),
})

# sort and pull top 5 by total purchase count then Format and print
itemsDF.nlargest(5, 'Purchase Count').style.format({'Item Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}'})

## Most Profitable Items

In [10]:
# sort and pull top 5 by total purchase Value then Format and print
itemsDF.nlargest(5, 'Total Purchase Value').style.format({'Item Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}'})